---
title: "Aluschmuck"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.4)
    actions:
        - label: "Komm zu meinen Markt-Terminen"
          url: /#markttermine

excerpt: "Herzlich willkommen zur Aluminium-Schmuck-Kollektion von Stefanie Geier!"



image-text-row:
    - excerpt: "In Köln geboren und in Frechen-Königsdorf aufgewachsen.
<br><br>
Nach Studium, Hochzeit und der Geburt meiner beiden Kinder begann ich, mich ehrenamtlich zu engagieren.
<br><br>
So war ich jahrelang Vorstandsmitglied der KG Königsdorfer Weißpfennige und bin seit 2005 Stadträtin, damit verbunden in verschiedenen Ausschüssen tätig.
<br><br>
Durch einen glücklichen Zufall entdeckte ich meine Leidenschaft für die Bearbeitung von Aluminium zu Schmuckstücken."
      image-url: "/assets/images/about-stefanie.webp"
      alt-text: "Stefanie Geier Portrait"
      image-width: "250px"
      image-right: false


gallery:
    - url: /assets/images/gallery/gallery1.webp
      image_path: /assets/images/gallery/gallery1.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery2.webp
      image_path: /assets/images/gallery/gallery2.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery3.webp
      image_path: /assets/images/gallery/gallery3.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery4.webp
      image_path: /assets/images/gallery/gallery4.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery5.webp
      image_path: /assets/images/gallery/gallery5.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery6.webp
      image_path: /assets/images/gallery/gallery6.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery7.webp
      image_path: /assets/images/gallery/gallery7.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery8.webp
      image_path: /assets/images/gallery/gallery8.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"
    - url: /assets/images/gallery/gallery9.webp
      image_path: /assets/images/gallery/gallery9.webp
      alt: "Aluschmuck Kollektion Item"
      title: "Aluschmuck Kollektion Item"



gallery-dom:
    - url: /assets/images/gallery/dom1.webp
      image_path: /assets/images/gallery/dom1.webp
      alt: "Dom Kollektion Item"
      title: "Dom Kollektion Item"
    - url: /assets/images/gallery/dom2.webp
      image_path: /assets/images/gallery/dom2.webp
      alt: "Dom Kollektion Item"
      title: "Dom Kollektion Item"
    - url: /assets/images/gallery/dom3.webp
      image_path: /assets/images/gallery/dom3.webp
      alt: "Dom Kollektion Item"
      title: "Dom Kollektion Item"
    - url: /assets/images/gallery/dom4.webp
      image_path: /assets/images/gallery/dom4.webp
      alt: "Dom Kollektion Item"
      title: "Dom Kollektion Item"
    - url: /assets/images/gallery/dom5.webp
      image_path: /assets/images/gallery/dom5.webp
      alt: "Dom Kollektion Item"
      title: "Dom Kollektion Item"
    - url: /assets/images/gallery/dom6.webp
      image_path: /assets/images/gallery/dom6.webp
      alt: "Dom Kollektion Item"
      title: "Dom Kollektion Item"


round-images:
    - image-path: "/assets/images/header.webp"
      size: "third"
      header: "Header 1"
      caption: "Caption 1"
    - image-path: "/assets/images/sydney-2.webp"
      size: "third"
      header: "Header 2"
      caption: "Caption 2"
    - image-path: "/assets/images/sydney-3.webp"
      size: "third"
      header: "Header 3"
      caption: "Caption 3"
    - image-path: "/assets/images/sydney-4.webp"
      size: "third"
      header: "Header 4"
      caption: "Caption 4"
    - image-path: "/assets/images/sydney-5.webp"
      size: "half"
      header: "Header 5"
      caption: "Caption 5"
    - image-path: "/assets/images/sydney-6.webp"



entdecke-deine-stadt:
    - header: "Sabine Gläsel - entdecke-deine-stadt: Kölner Stadtführungen"
      btn-url: "http://entdecke-deine-stadt.de/"
      btn-class: "primary"
      btn-label: "Zur Website"
      blank: true
      image-url: "/assets/images/entdecke-deine-stadt.jpg"
      alt-text: "Sabine Gläsel - entdecke-deine-stadt - Kölner Stadtführungen"
      image-width: "150px"
      image-right: false

filz-gnoss:
      - header: "Filz Gnoss"
        btn-url: "https://www.filz-gnoss.de/"
        btn-class: "primary"
        btn-label: "Zur Website"
        blank: true
        image-url: "/assets/images/filz-gnoss.jpg"
        alt-text: "Filz Gnoss"
        image-width: "150px"
        image-right: true

koeln-tourismus:
      - header: "KölnTourismus GmbH  / Der Köln Shop"
        btn-url: "https://www.der-koelnshop.de/"
        btn-class: "primary"
        btn-label: "Zur Website"
        blank: true
        image-url: "/assets/images/koelnshop.jpg"
        alt-text: "KölnTourismus GmbH  / Der Köln Shop"
        image-width: "150px"
        image-right: false

elke-kruse:
      - header: "Elke Kruse: Kölsche Geschenkartikel"
        btn-url: "http://www.koelngeschenk.de/"
        btn-class: "primary"
        btn-label: "Zur Website"
        blank: true
        image-url: "/assets/images/elkekruse.jpg"
        alt-text: "Elke Kruse: Kölsche Geschenkartikel"
        image-width: "150px"
        image-right: true

bock-op-koelle:
      - header: "Bock op Kölle"
        btn-url: "http://www.bock-op-koelle.de/"
        btn-class: "primary"
        btn-label: "Zur Website"
        blank: true
        image-url: "/assets/images/bock-op-koelle.jpg"
        alt-text: "Bock op Kölle"
        image-width: "150px"
        image-right: false
---


<section id="zur-person">
<h1>Zur Person</h1>

    {% include image-text-row %}

    <div class="notice--primary">
        <p class="bigger">
            Aluminium löst keine Allergien aus und ist leicht und angenehm zu tragen - selbst und vor allem große und massive Stücke.
        </p>
    </div>

    Seit 2007 trage ich den Schmuck nicht nur selbst, sondern biete ihn auf Anfragen hin auch auf Kunst- und Handwerkermärkten zum Verkauf an.

    Neben den Individualstücken ist meine Domkollektion sehr beliebt geworden.

    Meine Werke ergänze ich gerne mit echten Swarovski-Steinen.

    Sie erkennt man an der SG-Prägung auf der Rückseite.

</section>

<br><br>
<hr class="section-sep">
<br>


<section id="kollektion">
<h1>Allgemeine Schmuckkollektion</h1>

    {% include gallery caption="Hier beispielhaft einige bereits verkaufte Werke"%}
</section>

<br><br>
<hr class="section-sep">
<br>



<section id="domkollektion">
<h1>Domkollektion</h1>

    {% include gallery id="gallery-dom" caption="Hier beispielhaft einige bereits verkaufte Werke"%}
</section>

<br><br>
<hr class="section-sep">
<br>


<section id="markttermine">
<h1>Markt-Termine</h1>
    <br>
    <div class="box box--primary">
        <strong>Zur Zeit keine Markttermine bis voraussichtlich Mitte des Jahres</strong>
    </div>

</section>

<br><br>
<hr class="section-sep">


<section id="partner">
<h1>Partner</h1>
    <b>—befreundete Unternehmen und Referenzen—</b>

    <div class="box box--primary" style="padding: 0 6rem 0 6rem; margin: 2rem 4rem 0 4rem;">

        {% include image-text-row id="entdecke-deine-stadt" %}
        <hr>
        {% include image-text-row id="filz-gnoss" %}
        <hr>
        {% include image-text-row id="koeln-tourismus" %}
        <hr>
        {% include image-text-row id="elke-kruse" %}
        <hr>
        {% include image-text-row id="bock-op-koelle" %}




    </div>
</section>


