/* Custom stylesheet, add your own styles here */

.bigger {
    font-size: 120% !important;
}

.partner-box {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .partner-box {
        padding: 0 6rem 0 6rem !important;
        margin: 2rem 4rem 0 4rem !important;
    }
}